---
page_title: "Bitwarden Provider"
description: |-
  Use the Bitwarden provider to manage your Logins, Secure Notes, and Secrets.
---

# Bitwarden Provider

Use the Bitwarden provider to manage your [Password Manager] Logins and Secure Notes, and [Secrets Manager] Secrets.
You must configure the provider with proper credentials before you can use it.
If you're not trying out the experimental `embedded_client` feature, you also need a [Bitwarden CLI] installed locally.

## Example Usage

{{tffile "examples/quick/provider.tf"}}

## Configuration
Configuration for the Bitwarden Provider can be derived from two sources:
* Parameters in the provider configuration
* Environment variables

### Parameters
Credentials can be provided by adding a combination of `email`, `master_password`, `client_id`, `client_secret`, `access_token` or `session_key` to the bitwarden provider block.
```terraform
provider "bitwarden" {
  email           = "terraform@example.com"
  master_password = "my-master-password"
  client_id       = "my-client-id"
  client_secret   = "my-client-secret"

  # Specify a server URL when using a self-hosted version of Bitwarden
  # or similar (e.g., Vaultwarden), or the European instances:
  #
  # server = "https://vault.bitwarden.eu"

  # If you have the opportunity, you can try out the embedded client which
  # removes the need for a locally installed Bitwarden CLI. Please note that
  # this feature is still considered experimental and not recommended for
  # production use yet.
  #
  # experimental {
  #   embedded_client = true
  # }
}
```

### Environment variables
Credentials can be provided by using a combination of `BW_EMAIL`, `BW_PASSWORD`, `BW_CLIENTID`, `BW_CLIENTSECRET`, `BWS_ACCESS_TOKEN` or `BW_SESSION` environment variables.

For example:
```bitwarden
provider "bitwarden" {}
```

```console
export BW_EMAIL="terraform@example.com"
export BW_PASSWORD="my-master-password"
export BW_CLIENTID="my-client-id"
export BW_CLIENTSECRET="my-client-secret"
```

{{ .SchemaMarkdown | trimspace }}

[Password Manager]: https://bitwarden.com/products/personal/
[Secrets Manager]: https://bitwarden.com/products/secrets-manager/
[Bitwarden CLI]: https://bitwarden.com/help/article/cli/#download-and-install
[Access Tokens]: https://bitwarden.com/help/access-tokens/
[Personal API Key]: https://bitwarden.com/help/personal-api-key/
[provider aliases]: https://developer.hashicorp.com/terraform/language/providers/configuration#alias-multiple-provider-configurations
